In [1]:
import os
import pandas as pd

In [4]:
df = pd.read_csv("../source_data/insurance_production.csv")

In [5]:
df.columns

Index(['Unnamed: 0', 'age', 'sex', 'bmi', 'children', 'smoker', 'region',
       'charges'],
      dtype='object')

In [6]:
df.describe()

,Unnamed: 0,age,bmi,children,smoker,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,668.500000,39.207025,30.663397,1.094918,1.484305,13270.422265
std,386.391641,14.049960,6.098187,1.205493,1.104885,12110.011237
min,0.000000,18.000000,15.960000,0.000000,0.000000,1121.873900
25%,334.250000,27.000000,26.296250,0.000000,1.000000,4740.287150
50%,668.500000,39.000000,30.400000,1.000000,1.000000,9382.033000
75%,1002.750000,51.000000,34.693750,2.000000,2.000000,16639.912515
max,1337.000000,64.000000,53.130000,5.000000,3.000000,63770.428010

In [7]:
overview=df.describe()

In [8]:
overview.loc[["min","max"]].to_json("schema_in.json")